<!DOCTYPE html>
<html>
<head><title>Verlauf</title></head>
<body>
  <%- include('partials/header') %>
  <% if (error) { %><p><%= error %></p><% } %>
  <ul>
    <% transactions.forEach(tx => { %>
      <li style="color:<%= tx.type==='debt'?'red':'green' %>;">
        <%= tx.date %> – <%= tx.type==='debt'?'+':'–' %><%= tx.amount.toFixed(2) %> €
      </li>
    <% }) %>
  </ul>
  <a href="/logout">Logout</a>
</body>
</html>