<!DOCTYPE html>
<html lang="de">
<%- include('partials/head') %>
<body class="bg-gray-50 text-gray-800">
  <%- include('partials/header') %>
  <% if (typeof error !== 'undefined' && error) { %><p><%= error %></p><% } %>
  <ul>
    <% transactions.forEach(tx => { %>
      <li style="color:<%= tx.type==='debt'?'red':'green' %>;">
        <%= tx.date %> – <%= tx.type==='debt'?'+':'–' %><%= tx.amount.toFixed(2) %> €
      </li>
    <% }) %>
  </ul>
  <a href="/logout">Logout</a>
</body>
</html>